$default-font-size : 16px;
$max-width : 500px;
$btn-color : rgba(252,88,50,.5); //按钮颜色
$bg-color: rgba(252,88,50,1);

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

//动画：旋转
@keyframes spin {
    0% { 
        box-shadow: 0 0 18px 5px $btn-color;
        transform: rotate(0deg); 
    }
    50% {
        box-shadow: 0 0 6px 2px $btn-color;
        transform: rotate(180deg);
    }
    100% { 
        box-shadow: 0 0 18px 5px $btn-color;        
        transform: rotate(360deg); 
    }
}

// 字体图标
.icon { 
    width: 2em; 
    height: 2em;
    vertical-align: -0.15em;
    fill: $btn-color;
    overflow: hidden;
 }

.icon.play_or_stop {
    width: 3.5em; 
    height: 3.5em;

}



.music-box { 
    // 整个音乐盒子
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;


    background-image: url(../img/music_bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    // border: 3px solid pink;
    max-height: 800px;
    box-shadow: inset 0 0 18px 0px #FF5722;

    .before-next-btn , .before-next-song , .control , .bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }

    .current-song {
        // 当前曲目
        font-size: ($default-font-size * 2);
        color : pink;
    }

    .singer {
        // 歌手
        font-size : ($default-font-size * 1.3);
        color: lightslategrey;
    }

    .circle { 
        // 歌手圆形头像，宽高1:1，并且占页面宽度的一半
        border: 5px solid pink;
        height: (1rem/2);
        width: (1rem/2);
        max-width: ($max-width/2);
        max-height: ($max-width/2);
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 18px 5px $btn-color;
        background-image: url(../img/swan.jpg);
        background-size: contain;
        animation: 36s spin infinite linear;
        animation-play-state: paused;
    }

    .circle.active {
        animation-play-state: running;
    }

    

    .progress {
        // 进度条
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        color: lightslategrey;

        .total {
            width: 80%;
            height: 4px;
            background: grey;

            .now {
                height: 4px;
                background-color: $bg-color;
                width: 10%;
            }
        }

        #cur_time {
            padding-top:10px;
            padding-left: 10px;
        }
        #full_time {
            padding-top:10px;
            padding-right: 10px;
        }
    }

    .list { 
        // 歌曲列表
        position: absolute;
        border: 2px solid pink;;
        padding: 10px;
        background: $btn-color;
        width: 80%;
        max-width: ($max-width * 0.8);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2 2px 1px $btn-color;
        opacity: 0;
        

        .item {
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
        }

        transition: .5s;
        
    }

    .list.show { 
        //显示歌曲列表
        opacity: 1;
    }

    
}