$default-font-size : 16px;
$max-width : 500px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

// 字体图标
.icon { 
    width: 2.5em; 
    height: 2.5em;
    vertical-align: -0.15em;
    fill: grey;
    overflow: hidden;
 }

.music-box { 
    // 整个音乐盒子
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: $max-width;
    margin: 0 auto;

    .before-next-btn , .before-next-song , .control , .bottom{
        display: flex;
        justify-content: space-around;
    }

    .current-song {
        // 当前曲目
        font-size: ($default-font-size * 2);
        color : pink;
    }

    .singer {
        // 歌手
        font-size : ($default-font-size * 1.3);
        color: lightslategrey;
    }

    .circle { 
        // 歌手圆形头像，宽高1:1，并且占页面宽度的一半
        border: 5px solid pink;
        height: (1rem/2);
        width: (1rem/2);
        max-width: ($max-width/2);
        max-height: ($max-width/2);
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 18px 5px red;
        background-image: url(../img/swan.jpg);
        background-size: contain;
    }

    

    .progress {
        // 进度条
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        .total {
            width: 80%;
            height: 3px;
            background: grey;

            .now {
                height: 3px;
                background-color: red;
                width: 10%;
            }
        }
    }

    .list { 
        // 歌曲列表
        position: absolute;
        border: 2px solid rgba(158, 158, 158,1);;
        padding: 10px;
        background: rgba(158, 158, 158, 0.9);
        width: 80%;
        max-width: ($max-width * 0.8);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2 2px 1px grey;
        opacity: 0;
        

        .item {
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
        }

        transition: 1s;
        
    }

    .list.show { 
        //显示歌曲列表
        opacity: 1;
    }

    
}