* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  position: relative; }

@keyframes spin {
  0% {
    box-shadow: 0 0 18px 5px rgba(252, 88, 50, 0.5);
    transform: rotate(0deg); }
  50% {
    box-shadow: 0 0 6px 2px rgba(252, 88, 50, 0.5);
    transform: rotate(180deg); }
  100% {
    box-shadow: 0 0 18px 5px rgba(252, 88, 50, 0.5);
    transform: rotate(360deg); } }
@keyframes dot_scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.4); } }
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: rgba(252, 88, 50, 0.5);
  overflow: hidden; }

.icon.play_or_stop {
  width: 4em;
  height: 4em; }

.music-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  background-image: url(../img/music_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
  box-shadow: inset 0 0 18px 0px #FF5722; }
  .music-box .before-next-btn, .music-box .before-next-song, .music-box .control, .music-box .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .music-box .bottom {
    margin-bottom: 30px; }
  .music-box .current-song {
    font-size: 40px;
    color: orange;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px; }
  .music-box .singer {
    font-size: 20.8px;
    color: lightslategrey; }
  .music-box .circle {
    border: 5px solid pink;
    height: 0.5rem;
    width: 0.5rem;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 18px 5px rgba(252, 88, 50, 0.5);
    background-image: url(../img/swan.jpg);
    background-size: contain;
    animation: 36s spin infinite linear;
    animation-play-state: paused; }
  .music-box .circle.active {
    animation-play-state: running; }
  .music-box .progress {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    color: lightslategrey; }
    .music-box .progress .total {
      width: 80%;
      height: 4px;
      background: grey; }
      .music-box .progress .total .now {
        height: 4px;
        background-color: #fc5832;
        width: 0%;
        position: relative; }
        .music-box .progress .total .now .dot {
          width: 12px;
          height: 12px;
          background-color: #fc5832;
          box-shadow: 0 0 2px 2px orange;
          position: absolute;
          right: -3px;
          top: -4px;
          border-radius: 50%;
          animation: 1s dot_scale infinite linear alternate;
          animation-play-state: paused; }
        .music-box .progress .total .now .dot.active {
          animation-play-state: running; }
    .music-box .progress #cur_time {
      padding-top: 10px;
      padding-left: 10px; }
    .music-box .progress #full_time {
      padding-top: 10px;
      padding-right: 10px; }
  .music-box .list {
    margin: 0 auto;
    border: 2px solid pink;
    padding: 10px;
    background: rgba(252, 88, 50, 0.5);
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2 2px 1px rgba(252, 88, 50, 0.5);
    display: none;
    font-size: 18px;
    color: white; }
    .music-box .list .item {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .music-box .list.show {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block; }

/*# sourceMappingURL=index.css.map */
